body{
	background-color:black;
	background-image: url("../images/space.jpg");
	font-family:'Tilt Warp', Arial;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color:white;
}

p{
	color:white;
}

#list{
    margin-top: 20px;
}

form {
  background-color: #5C3A67;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  height: 500px;
  position: relative;
  bottom: -30px;
  
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}


#lname,#fname,#email,#phone {
  display: block;
  width: 75%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

#submit {
  display: block;
  width: 25%;
  padding: 10px;
  background-color: #C4BA6E;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

ol {
  list-style: none;
}

@media screen and (max-width: 767px) {
	#lname,#fname,#email,#phone {
		display: block;
		width: 85%;
		padding: 10px;
		margin-bottom: 5px;
		font-size: 14px;
		border: none;
		border-radius: 2px;
	}
	
	form {
		height: 400px;
		max-width: 300px;
	}
	
	#submit{
		width: 30%;
	}
	
	h1{
		font-size: 24px;
	}
}
  
 @media screen and (min-width: 768px) {
	 body {
		 font-size: 16px;
}
  
}