body{
	background-color:black;
	background-image: url("../images/space.jpg");
	font-family:'Tilt Warp', sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color:white;
}

p{
	color:white;
}

form {
  background-color: #5C3A67;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  height: 600px;
}

